@charset 'utf-8';
// container 开始
    // 轮播图开始
    .main_view {
        width: 1240px;
        height: 450px;
        margin: 0px auto 0;
        overflow: hidden;
        position: relative;
    }
    //轮播结束
    //brand开始
    .container img {
        display: block;
        width: 100%;
    }
    .ul li{
        float: left;
    }
// container 结束
