@charset 'utf-8';
.main_view {
  width: 1240px;
  height: 450px;
  margin: 0px auto 0;
  overflow: hidden;
  position: relative;
}
.container img {
  display: block;
  width: 100%;
}
.ul li {
  float: left;
}
