@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#slider {
  position: relative;
  width: 1240px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}
#slider > div {
  width: 10000px;
  position: absolute;
}
#slider > div img {
  float: left;
  width: auto;
  cursor: pointer;
}
#slider > span {
  position: absolute;
  font-size: 3em;
  user-select: none;
  cursor: pointer;
  width: 50px;
  height: 100%;
}
#slider > span > b {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 80px;
  line-height: 80px;
  display: none;
}
#slider:hover span {
  display: block;
  width: 50px;
  height: 100%;
}
#slider:hover span b {
  display: block;
  color: lightgray;
  opacity: 0.8;
  font-weight: normal;
  text-align: center;
}
#slider > span:hover b {
  background: gray;
}
#slider > span:last-of-type {
  right: 0;
}

/* .slider {
  position: relative;
  height: 450px;
  width: 1240px;
  overflow: hidden;
}
.slider .slider-pointer {
  position: absolute;
  bottom: 20px;
  color: #fff;
  list-style: none;
  padding: 0;
  z-index: 999;
}
.slider .slider-pointer li {
  display: inline-block;
  margin: 0 15px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  opacity: 0.85;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 320ms ease;
}
.slider .slider-pointer li:hover {
  background-color: #e30006;
}
.slider .slider-pointer li.active {
  background-color: #000000;
}
.slider .slider-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .slider-inner .item {
  width: 100%;
  height: 100%;
  float: left;
}
.slider .slider-inner .img {
  background-position: center top !important;
  /* width: 100%;
  height: 100%; */
}
.slider .slider-control {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 999;
  border-radius: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  top: 40%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 320ms ease;
}
.slider .slider-control:hover {
  opacity: 0.65;
  background-color: #b00005;
}
.slider .slider-control:active {
  opacity: 0.85;
}
.slider .slider-control.prev {
  display: none;
  left: 20px;
}
.slider .slider-control.next {
  display: none;
  right: 20px;
}
.slider:hover .slider-control.prev {
  display: block;
  left: 20px;
}
.slider:hover .slider-control.next {
  display: block;
  right: 20px;
} */