﻿@charset "utf-8";
@font-face {
    font-family: 'angsanaupcregular';
    src: url('angsau1-webfont.eot');
    src: url('angsau1-webfont.eot?#iefix') format('embedded-opentype'), url('angsau1-webfont.svg#angsanaupcregular') format('svg');
    font-weight: normal;
    font-style: normal
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    }
 ul, li {
    list-style: none;
}
*:focus {outline: none;} 
a {
    text-decoration: none
}

a img {
    border: 0
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: '微软雅黑', 'Microsoft YaHei';
}

.container {
    width: 1240px;
    margin: 0px auto 0
}

.clear {
    height: 0px;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
    content: "";
}

#header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    font-size: 12px;
    z-index: 9999;
    background: #414141;
}

/******头部*********************/
.head {
    width: 1240px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background: #414141
}

.div_lang{
	float:left;
	width:95px;
	height:40px;
	line-height:33px;
	font-size:13px;
	color:#414141;
	position: relative;
    cursor: pointer;
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15324244817248776.png) no-repeat;
   background-size: auto 30%;
    background-position-x: 10px;
    background-position-y: 14px;
    box-shadow:-3px 1px 1px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow:-3px 1px 1px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow:-3px 1px 1px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow:-3px 1px 1px rgba(0, 0, 0, 0.3) inset;
    -ms-box-shadow:-3px 1px 1px rgba(0, 0, 0, 0.3) inset;
     z-index: 1;
}
.div_lang:hover{
  background: #565656; 
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  -ms-box-shadow:none;
   background: url(https://www.roseonly.com.cn/upload/syspic_new/15324244817248776.png) no-repeat #565656;
   background-size: auto 30%;
    background-position-x: 37px;
    background-position-y: 14px;
   
}
.div_lang:hover ul{
	display:block;
}
.div_lang label{
    display: block;
    cursor: pointer;
    padding-left: 61px;
    height: 40px;
    color:#afafaf;
    line-height: 40px; 
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15524576264782456.png) no-repeat;
    background-size: 18px;
    background-position: 34px 11px;
}
.div_lang ul{
	display:none;
	position: absolute;
	left:0;
	top:35px;
	z-index:1;
	width:94px;
	box-sizing:border-box;
	background-color:#565656;
	list-style:none;
	margin:0;
	padding:0;
}
.div_lang ul li{
	height:40px;
	line-height:40px;
	text-align:left;	
}
.div_lang ul li.cn{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/15524576264782456.png) no-repeat;
    background-size: 20px;
    background-position: 20px 10px;
}
.div_lang ul li.hk{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/15524576264685203.png) no-repeat;
    background-size: 20px;
    background-position: 20px 10px;
    display:none;
}
.div_lang ul li:hover{
	background-color:#717171;
}
.div_lang ul li a{
	display:block;
	color:#fff;
	font-size:14px;
    padding-left: 50px;
    box-sizing: border-box;
}
  .header_toplogin_con{
        width: 300px;
	    height: 170px;
	    margin-top: 20px;
	    display:none;
	    position: absolute;
	    z-index: 2;
	    right:-77px;
	    top: 20px;
	    background: #fff;    
	    border: 1px solid #eee;
    	box-sizing: border-box;
    }
    .header_toplogin{
        height: 160px;
        background: #ffffff;
    }
    .header_toplogin a{
        color: #414141;
        text-underline: none;
    }
    .top_ewm{ margin: 0 auto;
      padding: 0;
       width: 268px;
       border-top: 1px solid #d8d8d8}
    .top_ewm dt{
       width: 88px;
	    height: 88px;
	    float: left;
	    margin-top: 15px;
	    margin-right: 15px;
	   background: url(https://www.roseonly.com.cn/upload/syspic_new/15554856333871976.jpg) no-repeat;
       background-size: 100%;
    }
    .top_ewm dd{
        float:left;

       margin: 0;
    }
    .top_ewm dd h1{
        font-size: 14px;
        font-weight: bold;
        height:35px
    }
    .top_ewm dd p{
        font-size: 12px;
        line-height: 22px;
        margin: 0;
    }
    .header_dlzc{
       height: 40px;
	    line-height: 40px;
	    width: 95px;
	    margin: 0 auto;
	    text-align: center;
    }
    .header_dlzc a{
     float: left;
    }
    .header_dlzc .zc_flr{
     float: right;
    }
   
   .h_font{
   color:#414141
   } 
.h_font:hover {
    font-weight: bold;
}

.h_line {
    padding: 0 6px 0 6px;
    color:#414141
}
.right a {
    display: block;

}

.right {
	font-size: 12px;
    margin-top: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 117px;
    height: 40px;
}
.right li{
  float:left;
  padding-top: 12px;
  }
.cartNum{
    color: #fff;
    display: block;
    position: absolute;
    right: 31px;
    top: -12px;
    width: 10px;
    margin-right: 8px;
}
   
.std {
	font-size: 12px;
    width: 12px;
    height: 16px;
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15324923647091222.svg) no-repeat;
}
.h_right-shop{
	width: 36px;
    position: relative;
    margin: 0 6px 0 10px;
    overflow: hidden;
    
}
.h_dlzc{
	 width: 13px;
    height: 16px;
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15324923569143400.svg) no-repeat;
    margin: 0 auto;
}
.right_dlzc{
	width: 33px;
    height: 40px;
    margin-left: 8px;
    padding-top:12px;
    position: relative;
    cursor: pointer;
    
}
.right_dlzc:hover .header_toplogin_con{
	display:block	
}
.h_dlzc_line{
	width: 1px;
    height: 19px;
    background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15320780285968062.jpg);
    margin-top:10px
}
.right a.h_dlzc{
    width: 13px;
    min-width: 13px;
    height: 15px;
    background-size: 100% auto;
    background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15320758657544389.png);
}
.right a.right-shop {
    width: 16px;
    min-width: 16px;
    height: 18px; 
    background-size: 100% auto;
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15324923612004495.svg) no-repeat;  
    padding-top:12px
}

.right a.right-shop:hover {
    background-size: 14px;
    background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15324923612004495.svg);
}

/*去掉苹果默认样式--*/
input[type=text],input[type=password],input[type=button],input[type=tel],input[type=submit],input[type=button],input[type=checkbox],input[type=image],textarea { border-radius: 0;  }


/*品牌--*/

.roseonly_map {
    float: left;
    width: 170px;
    position: relative;
    height: 35px;
    z-index: 99
}

.roseonly_map>a {
    font-size: 14px;
    position: absolute;
    left: 48px;
}

.roseonly_map_list a:hover {
    font-weight: bold;
    background: #e4e4e4;
}

.roseonly_map .roseonly_map_list {
    position: absolute;
    top: 35px;
    width: 170px;
    height: 80px;
    background: #d9d9d9;
    z-index: 99;
    display: none;
}

.roseonly_map .roseonly_map_list a {
    display: block;
    padding-left: 25px;
    height: 40px;
    line-height: 40px;
}

.roseonly_map .roseonly_map-icon {
    background: url(https://www.roseonly.com.cn/upload/syspic_new/14750592670234692.svg) 20px;
    background-size: 25px;
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-right: 5px;
    margin-left: 25px;
    position: absolute;
    top: 8px;
}
/*品牌结束*/
/*.cartNum{position:absolute;width:20px;text-align:center;left:0px;top:0px}*/
/*.right-kefu{background:url(../images/roseonly-message.png) no-repeat scroll 0 50%;padding-left:20px}*/

.left {
    background: url(../images/roseonly-phone.png) no-repeat scroll 0 50%;
    padding-left: 20px;
    text-align: left
}
.logo_line2 {
      width: 1px;
    height: 20px;
    background: #c6c6c6;
    position: absolute;
    left: 128px;
    top: 10px;
}
.roseonly {
    width: 128px;
    height: 40px;
    display: block;
    float: left;
    background: url(../../../za/img/rose-logo.jpg) no-repeat 0 0
}

.larose {
    width: 128px;
    height: 35px;
    display: block;
    float: left;
    background: url(../../../za/img/zhuanai-logo.jpg) no-repeat scroll 0 0
}

.roseonly-logo {
	width: 128px;
    height: 40px;
    display: block;
    background-image: url(https://www.roseonly.com.cn/upload/syspic_new/14847113495204195.svg);
    background-size: 128px 44px;
    position: absolute;
    left:94px;
    background-color: #414141;
    z-index: 1; 
  
}

.larose-logo {
  width: 128px;
    height: 40px;
    display: block;
    left: 223px;
    background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15324224079333527.svg);
    background-color: #414141;
    background-size: 128px 40px;
   box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3) inset;
    position: absolute;   
    }
.wedding-logo {
   font-size: 14px;
    width: 128px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    float: left;
    left: 256px;
    background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15324227380097689.svg);
    background-size: 128px 40px;
    position: absolute;
    left: 351px;
   
}
.wedding-logo:hover {
    background-color: #fff;
     background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15324227437069570.svg);
      z-index: 1;
    }


.larose-logo:hover {
	background-image: url(https://www.roseonly.com.cn/upload/syspic_new/15278426022922226.svg);
    background-color: #fbefef;
    box-shadow: none;
    z-index: 1;
}
.larose-logo:hover .logo_line2{
	display:none
}
.collect {
    padding: 0 10px;
    background: url(../../images/zk02.png) no-repeat scroll 100% 16px
}

.head_ftit {
    color: #fff;
    line-height: 35px;
    font-size: 14px;
    position: absolute;
    left: -100px;
    font-family: '黑体', Arial, Helvetica, sans-serif
}

.logo-container {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: relative;
    background: #414141;
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0px -2px 7px rgba(0, 0, 0, 0.5);
    -o-box-shadow:0px -2px 7px rgba(0, 0, 0, 0.5);
    min-width:1240px;
}

.logo-container input {
    width: 128px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 0;
    border: none;
    background: url(../images/seek.jpg) no-repeat scroll 0 0
}

.logo-container .seek_icon {
    position: absolute;
    right: 5px;
    top: 44px
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.nav-bar {
    font-size: 14px
}

.menus_pic {
    width: 605px;
    height: 250px;
    background: #d1d1d1;
    right: 0;
    top: 25px;
    position: absolute
}

#nav {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    *display: block !important;
    *text-align: center !important;
 
}

#nav li {
    float: left;
    width: 70px;
    margin: 0 24px;    
    display: inline;
    *display: inline !important
}

#nav li a {
    color: #fff;
   
}

#nav li a:hover {
    color: #414141;
    background: #fff
}

#nav .topmenu_1 {
    position: relative;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-align: center;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size:14px;
}

.qxlm-color {
    color: #c71f2c;
    background: #FFF
}

.nav-bar {
    font-size: 14px
}
.menus_pic {
    width: 605px;
    height: 250px;
    background: #d1d1d1;
    right: 0;
    top: 25px;
    position: absolute
}

#nav {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    *display: block !important;
    *text-align: center !important;

}

#nav li a.nav_cur{
	background: #fff;
    color:#414141;
}

#nav li a.nav_cur:hover {
    background: #fff;
    color:#414141;
}

 /* #nav li a.qxlm {
    background: #c71f2c;
    color:#fff;
}*/

.qxlm-color {
    color: #c71f2c;
    background: #FFF
}

.nav-container {
    position: relative;
    background: #414141;
    width: 100%;
    min-width: 1240px
}

.nav_100 {
    float: left;
    display: block;
    width: 100px
}

.menus {
    width: 1240px;
    min-height: 320px;
    margin: 0 auto;
    position: relative
}

.menus2 {
    width: 100%;
    font-size: 14px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 0;
    display:none;
    z-index: 999;
    border-bottom: 3px solid #414141;
    min-height: 320px
}



.menus .number1 {
    margin-top: 25px;
    float: left;
    text-align: left;
    padding:0 65px;
    border-left: 1px solid #414141;
}

.menus>.number1:first-child{
	border:0;
}


.number1_add {
    font-size: 14px;
    font-weight: bold;
    height: 35px
}
.number1_tab {
	font-size: 14px;
    font-weight: bold;
    height: 35px;
    cursor: default;
}

.menus2 span {
    display: block;
    margin: 0;
    padding: 0;
    color: #000;
    padding-bottom: 16px;
    position: relative;
}

.number1 a span label{
	position: absolute;
    top: -4px;
    width: 22px;
    height: 11px;
    margin-left: 2px;
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15024466165626563.png) no-repeat center;
}
.number1 a span label.hot{
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15024466230586251.png) no-repeat center;
}

.menus2 span:hover {
    color: #83847e
}

.menus2 span.number1_tab:hover {
    color: #000
}

.logo_nbtn {
	width:143px;
	height:80px;
    margin: 0 auto;
    display: block;
  background-image: url("https://www.roseonly.com.cn/upload/syspic_new/15319943433485537.png")
}

#nav a:hover,
#nav a:focus {
    outline: none
}



.number1_navline {
    width: 75%;
    height: 5px;
    border-top: solid 1px #b7b7b7
}
/*二维码开始*/
#ewmBox {
    position: fixed;
    z-index: 999;
    box-sizing: content-box;
    height: 45px;
    bottom: 155px;
    width: 45px;
    right: 5px;
    transition: all 0.3s ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    background: #969696;
    border-radius: 5px
}
#ewm {
    text-decoration: none;
    outline: none;
    font-family: Microsoft Yahei, Arial, Helvetica;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
   float: none
}
#ewm img {
vertical-align: middle;
    border: none;
    float: none;
    position: static;
    margin-left: 5px;
    width: 35px;
    height: 45px;
}
#ewm:hover {
    background: #414141;
    width: 45px;
    border-radius: 5px
}
.ewm_content{
	width: 140px;
    height: 206px;
    position: fixed;
    bottom: 41px;
    right: 57px;
    display: none;
    background: url("https://www.roseonly.com.cn/upload/syspic_new/15555560350546942.png");
}
/*客服开始*/
#zhichiBtnBox {
    position: fixed;
    z-index: 999;
    box-sizing: content-box;
    height: 45px;
    bottom: 100px;
    width: 45px;
    right: 5px;
    transition: all 0.3s ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    background: #969696;
    border-radius: 5px
}
#zhichiBtnBox:hover>div.mes_content{
	display:block;
}

#zhichiBtn {
    text-decoration: none;
    outline: none;
    font-family: Microsoft Yahei, Arial, Helvetica;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;

    float: none
}
#zhichiBtn img {
    vertical-align: middle;
    border: none;
    float: none;
    position: static;
    margin-left: 0px;
    width: 42px;
    height:45px;
}
#zhichiBtn:hover {
    background: #414141;
    width: 45px;
    border-radius: 5px
}
.mes_content {
            width: 115px;
            height: 120px;
            position: fixed;
            bottom: 55px;
            right: 50px;
            display: none;
        }  
        .mes_icon {
            width: 102px;
            height: 110px;
            position: relative;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
        }
        
        .mes_icon>div {
            text-align: center;
            font-size: 12px;
        }
        
        .tel_txt {
	    color: #8d8d8d;
	    font-size: 12px;
	    background: url(https://www.roseonly.com.cn/upload/syspic_new/14769597664198841.svg)no-repeat -16px -9px;
	    background-size: 66px;
	    line-height: 25px;
	    margin:0;
	    margin-top: 8px;
	    padding-left: 11px;
	    letter-spacing: 1px;
        }
        
        .tel_phone {
            color: #414141;
            font-size: 12px;
            margin:0;
        }
        
        .zxkf_txt {
            background: #969696;
            width: 86px;
            height: 28px;
            color: #fff;
            line-height: 28px;
            border-radius: 3px;
            margin: 0 auto;
            margin-top: 8px;
            font-size: 12px;
            display: block;
            text-align: center;
            letter-spacing: 1px
        }
        
        .tel_line {
            width: 86px;
            border-top: 1px solid #dfdfdf;
            margin: 0 auto;
            margin-top: 12px;
        }
        
        .zxkf_txt:hover {
            background: #414141;
            cursor: pointer;
            display: block
        }
        
        .zxkf_txt>a {
            color: #fff;
        }
        
        .tel_sj {
            position: absolute;
            right: -9px;
            top: 45px;
        }
/*客服结束*/
.footer {
    width: 100%;
    clear: both;
    background: #414141;
    min-width: 1240px;
    color:#fff;
}

.four_nav{
	width: 1240px; 
	margin:15px auto 75px; 
	padding: 30px 0 40px; 
	border-bottom: solid 1px #dadada; 
}	
.four_nav_a{
	width: 300px; 
	height: 70px; 
	display: block; 
	float: left; 
	color: #414141;
	
}
.four_nav_a:first-child{
	margin-left:30px;
}
.four_nav_div{
	margin-left: 97px;
	font-size: 20px; 
	padding-top: 12px;
}	
.bg1{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/14846353323263189.svg) no-repeat scroll -55px center;
	background-size: 75% auto;
}
.bg2{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/14846353796712510.svg) no-repeat scroll -55px center;
	background-size: 75% auto;
}
.bg3{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/14841011654291143.svg) no-repeat scroll -55px center;
	background-size: 75% auto;
	
}
.bg4{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/14841010645436709.svg) no-repeat scroll -55px center;
	background-size: 75% auto;
}
.f14{ 
	font-size: 14px;
}
.f_wg_box{
	display:block;
	margin-top:7px;
}

.footer_box {
	position: relative;
    width: 1240px;
    margin: 0 auto;
    height: 210px;
    padding-top:50px
}
.footer_box ul:first{
	padding-left: 0;
}
.footer_box ul {
    margin-top: 0;
    float: left;
    padding:0 66px;
    text-align: center;
}
.footer_box ul p {
    margin-bottom: 20px;
    font-size: 14px;
    margin-top: 0;
}

.footer_box ul li {
    list-style: none;
    line-height: 30px;
    color: #000;
    text-align: left;
    margin-left: 1px
}

.footer_box ul li a {
    color: #afafaf;
    font-size: 14px
}
.f_weixin{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/15320950134728184.png) no-repeat right;
}
.f_weibo{
	background: url(https://www.roseonly.com.cn/upload/syspic_new/15320950169645121.jpg) no-repeat right;
}
.foot_box {
    width: 1280px;
    margin: 0 auto;
    color: #83847e;
    font-size: 14px;
    padding: 10px 0;
    position: relative
}
.footer .new_r dt{
	float: left;
    margin-right: 25px;
    width: 102px;
    height: 101px;
  background: url(https://www.roseonly.com.cn/upload/syspic_new/15554856333871976.jpg);
    background-size: 100%;
	
}
.footer .new_r dd{
	float:left;
	color: #afafaf;
	font-size:12px;
	line-height:22px;
	 
}
.footer .new_r dd h2{
	font-size:16px;
}
.footer .new_r dd div{
	padding-top:11px
}
.mr50{
	margin-right: 50px;
}
.new_r {
    float: right;
}
.new_r>p{
	margin-top:0;
	font-size:14px;
	text-align:center;
	
}
.footer-yyzz{
	display: block !important;
	position: absolute;
    bottom: 0;
    right: 0;
    width:240px;
    color:#fff;
    font-size: 12px;
	text-align:right;
}
.footer-yyzz a{
	margin-left: 15px;
	padding-left: 15px;
    background: url(https://www.roseonly.com.cn/upload/syspic_new/15460781628475043.png) no-repeat left center;
    background-size: auto 80%;
    font-size: 12px;
    color: #afafaf;
}
.shoujima {
    position: absolute;
    top: 10px;
    left: 160px
}

.shoujima img {
    height: 70px;
    width: 70px;
    border: none;
    vertical-align: left
}

.icon_div {
    width: 440px;
    height: 70px;
    margin: 0 auto;
    padding-top: 10px
}

.new_l {
    float: left
}

.icon_cell {
    width: 110px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    *display: inline-block !important;
    *float: left !important
}

.icon_div span {
    color: #83847e;
    display: block;
    text-decoration: none
}

.sub-nav {
    line-height: 22px;
    position: absolute;
    top: 10px;
    right: 160px
}

.sub-nav a {
    color: #83847e;
    text-decoration: none
}

.foot-nav {
   width: 1240px;
    height: 58px;
    font-size: 14px;
    background: #414141;
    color: #afafaf;
    clear: both;
    text-align: right;
    margin: 0 auto;
    font-size:12px
}

.foot-phone {
    width: 100%;
    height: 45px;
    background: #f2f2f2
}

.foot-phone a {
    width: 122px;
    height: 44px;
    margin: 0 auto;
    display: block
}

.main-nav {
    width: 1280px;
    margin: 0 auto;
    padding: 0 160px
}

.main-nav a {
    line-height: 30px;
    color: #fff;
    text-decoration: none
}

#back-to-top,
.go_top,
div {
    margin: 0px;
    padding: 0px
}

#back-to-top {
    width: 45px;
    height: 45px;
    background: #969696;
    position: fixed;
    bottom: 45px;
    right: 5px;
    border-radius: 8px
}

#back-to-top .go_top {
    text-decoration: none;
    display: block;
    height: 45px;
    background: #969696;
    border-radius: 5px;
    line-height: 65px;
    padding-left: 2px;
}

#back-to-top .go_top img {
    width: 37px;
    padding-top: 5px;
}

#back-to-top .go_top:hover {
    background: #414141
}

.previewShowWindow {
    position: absolute;
    border: 10px solid #e4e4e4;
    display: none;
    background: #fff;
    width: 500px;
    height: 500px;
    z-index: 999
}

.previewShowWindow img {
    width: 480px;
    height: 480px
}

#scan {
    position: absolute;
    border: 5px solid #e4e4e4;
    display: none;
    top: 18px;
    left: 0;
    background: #fff;
    width: 200px;
    height: 200px;
    z-index: 999
}

#scan img {
    width: 190px;
    height: 190px
}

.bounced_bg {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=20);
    opacity: 0.2;
    z-index: 99998
}

.bounced_login {
    width: 470px;
    height: 420px;
    background: #fafafa;
    z-index: 99999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -210px 0 0 -235px
}

.bounced_close {
    width: 9px;
    height: 9px;
    background: url(https://www.roseonly.com.cn/userview/images/close_01.png) 0 0 no-repeat scroll transparent;
    overflow: hidden;
    position: absolute;
    top: 12px;
    right: 10px
}

.bounced_close:hover {
    background-position: -10px 0
}

.bounced_tit {
    display: block;
    margin: 30px auto 35px
}

.bounced_text {
    width: 255px;
    padding: 10px 0 10px 35px;
    border: solid 1px #414141;
    background: url(../images/bounced02.png) no-repeat scroll 10px 11px;
    color: #83837d;
    font-size: 14px;
    display: block;
    margin: 0 auto
}

.bounced_red {
    width: 270px;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    text-align: right;
    font-size: 12px;
    color: #b22025;
    position: relative;
    top: 0;
    left: 0
}

.bounced_red_img1 {
    position: absolute;
    top: 130px;
    right: 60px
}

.bounced_red_img2 {
    position: absolute;
    top: 190px;
    right: 60px
}

.bounced_password {
    width: 255px;
    padding: 10px 0 10px 35px;
    border: solid 1px #414141;
    background: url(../images/bounced03.png) no-repeat scroll 10px 9px;
    color: #83837d;
    font-size: 14px;
    display: block;
    margin: 0 auto
}

.bounced_password_font {
    position: relative;
    top: -47px;
    z-index: 2;
    color: #83837d;
    font-size: 14px;
    left: 150px
}

.bounced_forget {
    position: relative;
    left: 320px;
    top: -12px;
    letter-spacing: 2px;
    color: #414141;
    font-size: 12px
}

.bounced-button {
    width: 300px;
    margin: 0 auto 0;
    font-size: 16px
}

.bounced-left {
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    float: left;
    border: solid 1px #414141;
    color: #414141
}

.bounced-right {
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    float: right;
    border: solid 1px #414141;
    background: #414141;
    color: #fff
}

.bounced_other {
    width: 100%;
    height: 30px;
    padding: 30px 0 0 90px;
    margin: 40px auto 0;
    border-top: solid 1px #414141;
    font-size: 12px;
    color: #414141
}

.bounced_other span {
    line-height: 30px;
    float: left
}

.bounced_other img {
    display: block;
    float: left;
    margin-left: 20px
}

.shade_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999
}

.shade_shadow {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=50);
    opacity: 0.5
}

.shade_content {
    width: 360px;
    height: 318px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -159px 0 0 -180px;
    z-index: 9;
    background: url(/assets/roseonly/images/ceng01.jpg) no-repeat scroll 0 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 25px
}

.f24 {
    font-size: 20px
}

.shade_font {
    width: 320px;
    margin: 45px auto 0
}

.shade_a1 {
    width: 120px;
    height: 35px;
    line-height: 35px;
    display: block;
    float: left;
    margin: 30px 0 0 30px;
    color: #fff;
    background: url(/assets/roseonly/images/ceng02.jpg) no-repeat scroll 0 0;
    text-decoration: none
}

.shade_a2 {
    width: 120px;
    height: 35px;
    line-height: 35px;
    display: block;
    float: left;
    margin: 30px 0 0 20px;
    color: #fff;
    background: url(/assets/roseonly/images/ceng03.jpg) no-repeat scroll 0 0;
    text-decoration: none
}

.shade_a3 {
    width: 120px;
    height: 35px;
    line-height: 35px;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: url(/assets/roseonly/images/ceng02.jpg) no-repeat scroll 0 0;
    text-decoration: none
}

.shade_phonenum {
    width: 215px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #83847e;
    text-align: center;
    outline: none;
    margin: 0 auto 10px
}

.shade_div {
    width: 215px;
    margin: 0 auto 20px
}

.shade_yzhnum {
    width: 115px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #83847e;
    text-align: center;
    outline: none;
    float: left
}

.shade_getnum {
    width: 85px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #83847e;
    background: #83847e;
    text-align: center;
    outline: none;
    text-decoration: none;
    display: block;
    float: right;
    color: #fff
}

.clear {
    clear: both
}

.ppp {
    margin: 0;
    padding: 0
}

.button_close {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    background: url(/assets/roseonly/images/close.png)no-repeat scroll 0 0
}

.button_close:hover {
    background-position: -13px 0
}

.hint {
    width: 970px;
    margin: 0 auto 15px
}

.hint_tb1 {
    width: 15px;
    height: 30px;
    background: url(/index/images/hint001.png) no-repeat scroll 0 0;
    float: left
}

.hint_font {
    width: 940px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
    background: #ac2c2c;
    float: left
}

.hint_tb2 {
    width: 15px;
    height: 30px;
    background: url(/index/images/hint002.png) no-repeat scroll 0 0;
    float: left
}
/*---兼容ipad--*/
/*---@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:landscape){
.head,.container,#nav,.footer_box{width:990px}
#nav li{margin:0 0px}
.menus2 .number1{width:120px}
.menus_pic{width:570px;height:236px;right:0}
.menus{width:990px}
.menus_pic img{width:100%;height:100%}
.new_con1 div img{width:100%}
.previewShowWindow{width:300px;height:300px;border:none}
.previewShowWindow img{width:300px;height:300px}
.footer_box ul {padding: 0 50px}
}--*/
/* 处理导航悬浮最顶端 */

.nav_cur {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 666;
}

.nav_cur .nav-bar ul {
    width: 1000px;
}

.nav_cur .nav-bar ul li {
    margin: 0 10px;
}

.right_cur {
    position: fixed;
    top: -38px;
    height: 36px;
    z-index: 700;
    right:0px
}

.right_cur a {
    color: #fff;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0.25;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.75;
    }
    75% {
        opacity: 1;
    }
}

.logo_f_cur {
    width: 120px;
    height: 30px;
    position: fixed;
    top: 6px;
    background-image: url("https://www.roseonly.com.cn/upload/syspic_new/14714161341524891.svg");
    background-size: 140px 55px;
    background-position: 0px -16px;
    z-index: 700;
    display: none;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    animation: fadeInOut 2s 1 alternate;
    cursor: pointer;
}

.logo_f_cur a {
    display: block;
    width: 100%;
    height: 100%;
}

/*提示框 start*/
.wg_layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 99999
}

.wg_layer_alert>div,.wg_layer_confirm>div {
    width: 300px;
    font-family: 微软雅黑;
    border-radius: 5px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -150px;
    margin-top: -80px;
}

.wg_layer_alert>div {
    background-color: #fff;
    color: #414141;
    box-sizing: border-box
}

.wg_layer_alert>div>div {
    text-align: center;
    background-color: #c10c06;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0;
    cursor: pointer;
}

.wg_layer_alert>div>p,.wg_layer_confirm>div>div.div_content {
    line-height: 24px;
    text-align: center;
    color: #414141;
    font-size: 14px;
    box-sizing: border-box
}

.wg_layer_alert>div>p {
    padding: 40px 10px
}

.wg_layer_confirm>div {
    background-color: #fff;
    color: #414141;
    box-sizing: border-box
}

.wg_layer_confirm>div>div.div_content {
    padding: 30px 10px
}

.wg_layer_confirm>div>div.div_content input {
    width: 240px;
    margin: 5px auto;
    border: 1px solid #666;
    background-color: #fff;
    height: 40px;
    line-height: 20px;
    border-radius: 3px;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 14px;
    text-indent: 5px
}

.wg_layer_confirm>div>div.div_content div.div_tit {
    padding-left: 10px;
    color: #c71f2c;
    font-size: 12px;
    text-align: left;
    width: 240px;
    margin: 0 auto
}

.wg_layer_confirm>div>div.btn_div {
    display: flex;
    height: 45px;
    background-color: #ccc;
    color: #414141
}

.wg_layer_confirm>div>div.btn_div>div {
    width: 50%;
    text-align: center;
    line-height: 45px;
    height: 45px;
    box-sizing: border-box;
    border-top: 1px solid #666;
    cursor: pointer;
}

.wg_layer_confirm>div>div>div.btn_submit {
    background-color: #c71f2c;
    color: #fff;
    border: 0;
}
/*提示框 end*/