@charset 'utf-8';
.container {
  height: 650px;
  width: 100%;
  max-width: 1920px;
}
.container .login_bj {
  background: url(../img/bg/bg.jpg) no-repeat center;
  height: 673px;
  width: 100%;
  position: relative;
}
.container .login_bj .zc_cur_bj {
  width: 1220px;
  height: 673px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -610px;
}
.register {
  width: 395px;
  height: 555px;
  background: #fafafa;
  padding-top: 40px;
  font-size: 14px;
  color: #000;
  float: right;
  position: relative;
  margin-top: 35px;
}
.register .register_nav {
  display: table;
  position: relative;
  margin: 0 auto;
  height: 60px;
}
.register .register_nav .register_text {
  width: 290px;
  text-indent: 50px;
  border: solid 1px #b3b3b3;
  font-size: 14px;
  padding: 13px 0 14px 10px;
  position: relative;
  margin-top: 0px;
}
.register .register_nav .indent {
  text-indent: 0;
}
.register .register_nav .indent > option {
  border: solid 1px #b3b3b3;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  background: #fff;
}
.register .register_nav .register_nav_86 {
  width: 50px;
  line-height: 45px;
  border-right: solid 1px #b3b3b3;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.register .register_nav .reminder {
  color: #EB2D47;
  font-size: 12px;
  display: none;
  text-align: left;
  width: 250px;
  height: 22px;
  line-height: 22px;
  padding-left: 16px;
  background: url(../img/index/warning.png) no-repeat left center;
}
.register .register_nav .sms_button a {
  width: 100px;
  height: 46px;
  line-height: 46px;
  display: block;
  text-align: center;
  color: #000;
  background: #d2d2d2;
}
.register .register_nav .register_yzm {
  width: 290px;
  border: solid 1px #b3b3b3;
  -moz-border: solid 1px #b3b3b3;
  -o-border: solid 1px #b3b3b3;
  -weikit-border: solid 1px #b3b3b3;
  position: relative;
  font-size: 14px;
  padding: 14px 0 14px 10px;
  margin-top: 0px;
}
.register .register_p {
  width: 290px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
}
.register .register_p .ck {
  border: 1px solid #00497D;
}
.register .register_p .lb_ck .reg_outline {
  cursor: pointer;
  text-decoration: underline;
}
.register .register_p .register_yyzh {
  margin: 0;
  float: right;
}
.register .register_button {
  width: 290px;
  margin: 0px auto;
}
.register .register_button a {
  width: 290px;
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}
.register .register_button .background2 {
  background: #c6c6c6;
}
.register .register_bottom {
  width: 395px;
  height: 58px;
  background: url(../img/index/car.svg) no-repeat scroll 15px center #c6c6c6;
  background-size: 25% auto;
  text-align: center;
  line-height: 58px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  padding-left: 30px;
}
.register_nav .register_password,
.signin_nav .register_password {
  width: 290px;
  border: solid 1px #b3b3b3;
  font-size: 14px;
  padding: 14px 0 14px 10px;
}
.register_nav span,
.signin_nav span {
  position: absolute;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  right: 0;
  top: 0;
}
.register_pass {
  height: 375px;
}
.register_pass .signin_a {
  width: 390px;
  margin: 0 auto;
}
.register_pass .signin_a .signin_zc {
  float: left;
  margin-left: 50px;
  display: block;
  display: inherit;
  display: inline;
  font-size: 14px;
  color: #000;
}
.register_pass .signin_a .signin_forget {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #000;
  width: 343px;
}
.register_pass .signin_button {
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px auto 0;
  background: #c6c6c6;
  width: 290px;
  font-size: 16px;
  text-indent: px;
  letter-spacing: 2px;
}
